fastapi
uvicorn
pydantic
numpy
torch
transformers
python-multipart
psycopg2-binary
sqlalchemy
requests
email-validator
python-dotenv
stripe
pydantic-settings
python-jose
passlib[bcrypt]
pytz
argon2-cffi
